

.container
{
  
  width: 100%;
  margin: 2em auto ;
 
}
.grid
{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.2em;
  justify-content: center;

}
.card-title
{
  white-space: nowrap;         /* Prevent title from wrapping to the next line */
  overflow: hidden;           /* Hide any overflow beyond the container */
  text-overflow: ellipsis; 
}
.card-image-top1{
 
  width: 100%;
}
.card-body
{
  border: none;
}
.card.text-center.bg-secondary.mb-3 >.card-body
{
  box-shadow: 2px 10px 8px rgba(5, 5, 0, 0.3);
  border-radius: 20px;

}
.card.text-center.bg-secondary.mb-3 {
  border-radius: 20px;
}